.navbar-parent {
    display: flex;
    background-color: #1A1A1B;
    padding: 2px 8px;
    border-color: rgb(85, 85, 85);
    align-items: center;
    gap: 16px;
    justify-content: space-evenly;
}

.logo img {
    height: 50px;
    width: 100px;
}

.logo :hover {
    cursor: pointer;
}

.subreddits {
    display: flex;
    align-items: center;
    height: 40px;
    width: 240px;
}

.subreddits-dropdown {
    background-color: #1A1A1B;
    border: none;
    color: white;
    height: 80%;
    width: 100%;
}

.subreddits :hover {
    border: solid;
    border-color: rgb(53, 53, 53);
    cursor: pointer;
}

.searchbar {
    display: flex;
    align-items: center;
    height: 40px;
    width: 480px;
}

.searchbar :hover {
    border: solid;
    border-color: white;
    background-color: #1A1A1B;
}

.searchbar input {
    background-color: #2e2e30;
    border: none;
    border-radius: 24px;
    height: 80%;
    width: 100%;
    padding: 4px 16px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    background-color: transparent;
    color: white;
    border: none;
}

.icon :hover {
    background-color: #2e2e30;
    cursor: pointer;
}

.advertise {
    color: white;
    background-color: #2e2e30;
    border: none;
    border-radius: 24px;
    height: 32px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.advertise button :hover {
    background-color: #404042;
    cursor: pointer;
}

.vertical-line {
    width: 1px;
    background-color: #2e2e30;
    height: 32px;
}

.profile-dropdown {
    justify-content: space-between;
    gap: 16px;
    display: flex;
    align-items: center;
    width: 240px;
    height: 40px;
    border: solid;
    border-color: #2e2e30;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: smaller;
}

.profile-dropdown :hover {
    cursor: pointer;
}

.profile-dropdown-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.user-info img {
    max-height: 8px;
    background-color: transparent;
}

.user-info div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: darkgray;
}

.profile-picture {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color: #2e2e30;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    color: #2e2e30;
}

.profile-dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 8px;
    background-color: #1A1A1B;
    border-color: #2e2e30;
    padding: 16px;
    top: 58px;
    right: 43px;
    width: 200px;
}

.hidden {
    visibility: hidden;
}

.profile-dropdown-menu hr {
    width: 100%;
    color: #2e2e30;
    background-color: #2e2e30;
    border: none;
    height: 1px;
}

.my-stuff {

}

.my-stuff span {
    color: #565657;
}

.view-options {

}

.view-options span {
    color: #565657;
}